
#top {
    padding-inline: 5%;
}

nav {
width:100%; 

margin-left: 15%;
}

#header {
    top: 0;
    position: fixed;
    left:0;
    max-width: 500px;
    height: 50px;
}


.img-with-text1 {
    text-align: center;
    width: 40%;
    height: 20%;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: blue;
    color: white;
    font-size: small;
    display: block;
    margin: 0 auto;
}


.img-with-text2 {
    text-align: center;
    width: 40%;
    height: 20%;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: rgb(235, 251, 251);
    color: blue;
    font-size: small;
    display: block;
    margin: 0 auto;

}

.img-with-text3 {
    text-align: center;
    width: 40%;
    height: 20%;
    border: 1px solid #555;
    border-radius: 4px;
    color: blue;
    font-size: small;
    display: block;
    margin: 0 auto;

}

.img-with-text4 {
    text-align: center;
    width: 40%;
    height: 20%;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: rgb(235, 251, 251);
    color: blue;
    font-size: small;
    display: block;
    margin: 0 auto;

}

#wrap {

    text-align: center;
    align-items: center;
    width: 100%
}



.card-img-top {
    width: 20%;
    height: auto;
    align-items: center;
    
}

